<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="about-content">
        <h2>About Us: </h2>
        <p>
            Welcome to Blog Alpha!
            <br>
            At Blog Alpha, we believe in the power of words and the impact they can have on individuals, communities, and the world. Our platform is more than just a space for blogs; it's a community of passionate writers, thinkers, and storytellers who come together to share their unique perspectives and experiences.
        </p>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>